html {
    font-size: 24px;
}

body {
    background-color: #ccd5ae;
}

.newspaper {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    min-width: 300px;
    max-width: 700px;
    width: 80%;
    margin: 50px auto;
    border-radius: 10px;
    padding: 30px;
    background-color: #fefae0;
}

.name {
    font-family: "Times New Roman", serif;
    font-size: 48px;
}

.name, .author {
    text-transform: uppercase;
}

.headline {
    font-size: 32px;
    font-weight: bold;
}

.sub-headline {
    font-weight: 100;
    font-size: 24px;
    font-style: italic;
}

.author {
    font-weight: bold;
}

.text {
    text-indent: 20px;
    line-height: 32px;
}

.text::first-letter {
    font-size: 32px;
    font-weight: bold;
}