/* --- @property --- */

@property --gradient-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  
  .gradient-box {
    width: 100px;
    height: 100px;
    background: linear-gradient(var(--gradient-angle), red, blue);
    transition: --gradient-angle 0.5s;
  }
  
  .gradient-box:hover {
    --gradient-angle: 90deg;
  }

/* --- не поддерживают это @propertyп ---*/

:root {
    --main-color: #3498db;
  }
  
  @property --main-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #3498db;
  }